<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Home</title>
</head>
<body>
<h1>Bem-vindo, Administrador!</h1>

<p>Aqui você pode gerenciar o sistema.</p>

<ul>
    <li><a th:href="@{/admin/usuarios}">Gerenciar Usuários</a></li>
    <li><a th:href="@{/admin/projetos}">Gerenciar Projetos</a></li>
    <li><a th:href="@{/admin/estrategias}">Gerenciar Estrategias</a></li>
    <li><a th:href="@{/logout}">Sair</a></li>
</ul>
</body>
</html>
