<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Projeto</title>
</head>
<body>

<h1>Criar Novo Projeto</h1>

<form th:action="@{/admin/projetos/novo-projeto}" th:object="${projeto}" method="post">
    <label for="nome">Nome do Projeto:</label><br>
    <input type="text" id="nome" th:field="*{nome}" required><br><br>

    <label for="descricao">Descrição:</label><br>
    <textarea id="descricao" th:field="*{descricao}" rows="5" cols="30" required></textarea><br><br>

    <label>Membros Permitidos:</label><br>
    <div th:each="usuario : ${usuariosDisponiveis}">
        <label>
            <input type="checkbox" name="usuarios" th:value="${usuario.id_usuario}">
            <span th:text="${usuario.nome}">Nome do Usuário</span>
        </label><br>
    </div><br>

    <button type="submit">Salvar</button>
</form>

    <a th:href="@{/admin/projetos}">
        <button type="button">Cancelar</button>
    </a>

</body>
</html>
