<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Estratégias</title>
</head>
<body>

<h1>Gerenciamento de Estratégias</h1>

<div>
    <a th:href="@{/admin/estrategias/listar-estrategias}">
        <button>Listar/editar Estratégias</button>
    </a>

    <a th:href="@{/admin/estrategias/nova-estrategia}">
        <button>Criar Nova Estratégia</button>
    </a>

    <a th:href="@{/admin/home}">
        <button>Voltar para Home</button>
    </a>
</div>

</body>
</html>
