<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nova Sessão de Teste</title>
</head>
<body>
<h1>Nova Sessão de Teste</h1>

<form th:action="@{/testador/sessoes/salvar}" th:object="${sessaoDTO}" method="post">
    <div>
        <label for="projeto">Projeto:</label>
        <select id="projeto" th:field="*{projetoId}">
            <option value="">Selecione um Projeto</option>
            <option th:each="proj : <span class="math-inline">\{listaProjetos\}"
            th\:value\="</span>{proj.id}"
            th:text="${proj.nome}">Projeto X</option>
        </select>